
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <h1>
            <h1>Your Dashboard</h1>
          </h1>
    
          <ul class="nav col-12 col-md-auto mb-2 text-end mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Dashboard</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button id="logoutBtn" type="button" class="btn btn-primary">Log out</button>
          </div>
        </header>
      </div>
<!--  -->
      <div class="card" style="width: 85%;margin-left: auto;margin-right: auto;">
        <h2>Title</h2>
        <div class="card-body">
          <p class="card-text">Body.</p>
        </div>
      </div>
<!--  -->
      <button class="btn btn-primary">+ New Post</button>
<!--  -->
      <style>
          h2{background-color: gray; color: white;}
      </style>
      
